@font-face {
  font-family: "optima";
  src: url("fonts/OptimaLTPro-Roman.otf");
}

main {
  max-width: 38rem;
  height: 90%;
  padding: 2rem;
  margin: auto;
  border: 0.5px solid rgb(237, 226, 211);
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  text-align: center;
}

div.socials {
  align-items: end;
}

div.content {
  font-family: "optima", "Arial", serif;
  font-size: 1.5rem;
  padding: 15%;
}